<div class="facets__price-inputs">
  <span class="field-currency">{{ cart.currency.symbol }}</span>

  <div class="field">
    <input
      class="field__input"
      name="{{ filter.min_value.param_name }}"
      id="{{ id_prefix }}{{ filter.label | escape }}-GTE"
      {%- if filter.min_value.value -%}
        value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
      {%- endif -%}
      type="number"
      inputmode="decimal"
      placeholder="0"
      data-pattern="\d| |,|\."
      data-min="0"
      data-max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
    >
    <label class="field__label" for="{{ id_prefix }}{{ filter.label | escape }}-GTE">
      {{- 'products.facets.from' | t -}}
    </label>
  </div>

  {%- if filter_type != 'vertical' -%}
    <span class="field-currency">{{ cart.currency.symbol }}</span>
  {%- endif -%}

  <div class="field">
    <input
      class="field__input"
      name="{{ filter.max_value.param_name }}"
      id="{{ id_prefix }}{{ filter.label | escape }}-LTE"
      {%- if filter.max_value.value -%}
        value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
      {%- endif -%}
      type="number"
      inputmode="decimal"
      placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
      data-pattern="\d| |,|\."
      data-min="0"
      data-max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
    >
    <label class="field__label" for="{{ id_prefix }}{{ filter.label | escape }}-LTE">
      {{- 'products.facets.to' | t -}}
    </label>
  </div>
</div>

{% if enable_price_slider %}
  <price-range-slider class="price-range-slider" data-min="0" data-max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
    <div class="range-slider">
      <div class="range-slider__track"></div>
      <div class="range-slider__range"></div>
      <input
        type="range"
        class="range-slider__input range-slider__input--min"
        min="0"
        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
        value="{% if filter.min_value.value %}{{ filter.min_value.value | money_without_currency | replace: ',', '' }}{% else %}0{% endif %}"
        step="1"
        aria-label="{{ 'products.facets.from' | t }}"
      >
      <input
        type="range"
        class="range-slider__input range-slider__input--max"
        min="0"
        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
        value="{% if filter.max_value.value %}{{ filter.max_value.value | money_without_currency | replace: ',', '' }}{% else %}{{ filter.range_max | money_without_currency | replace: ',', '' }}{% endif %}"
        step="1"
        aria-label="{{ 'products.facets.to' | t }}"
      >
    </div>
  </price-range-slider>
{% endif %}
